[submodule "thirdparty/TFHEpp"]
	path = thirdparty/TFHEpp
	url = https://github.com/virtualsecureplatform/TFHEpp.git
[submodule "thirdparty/openfhe"]
	path = thirdparty/openfhe
	url = https://github.com/i04347/openfhe.git
	branch = experiment
[submodule "thirdparty/HE3DB"]
	path = thirdparty/HE3DB
	url = https://github.com/zhouzhangwalker/HE3DB.git
